<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
    {% csrf_token %}
    <label>Enter Name</label><br>
    <input type="text" name = 'name'>

    <!-- <label>Email</label><br> -->
    <input hidden type="email" name = 'uEmail' value = {{sessionEmail}}>
    <br><br>
    <label>Username</label><br>
    <input type="text" name='username'>
    <br><br>

    <label>Password</label><br>
    <input type="password" name = 'password1'>
    <br><br>

    <label>Re-Enter Password</label><br>
    <input type="password" name = 'password2'>
    <br><br>

    <input type="submit" value = 'Register'>
    </form>
    {% for msg in messages %}
    <p style="color:red">{{msg}}</p>
    {% endfor %}
    

</body>
</html>