<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Article Page </h1>
    <a href="{% url 'home' %}">Go to Home</a>
    <p>Applied Learning Project
        Learn how to program with Python with no previous knowledge of coding required and you’ll use Python to automate common system administration tasks
        
        Learn to use Git and GitHub, to troubleshoot and debug complex problems
        
        Apply automation at scale by using configuration management and the Cloud
        
        Practice your technical skills with hands-on projects including a capstone project where you’ll use your new knowledge to solve a real-world IT problem
        
        Shareable Certificate
        Earn a Certificate upon completion
        100% online courses
        Start instantly and learn at your own schedule.
        Flexible Schedule
        Set and maintain flexible deadlines.
        Beginner Level
        No prior experience required.
        
        Approximately 8 months to complete
        Suggested pace of 5 hours/week
        English
        Subtitles: English, Arabic, French, Portuguese (European), Italian, Vietnamese, German, Russian, Spanish, Uzbek, Swedish, Burmese, Telugu
        </p>

</body>
</html>